<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario de registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" placeholder="Ingrese su nombre"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top">
    <ion-label position="stacked">Correo</ion-label>
    <ion-input tpye="email" placeholder="Ingrese su correo"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top">
    <ion-label position="stacked">Celular</ion-label>
    <ion-input type="tel" placeholder="Ingrese su número de celular"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top">
    <ion-label position="stacked">Ingreso</ion-label>
    <ion-input type="number" placeholder="Ingreso"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top">
    <ion-label position="stacked">Procedencia</ion-label>
    <ion-input type="text" placeholder="Procedencia"></ion-input>
  </ion-item>
  <ion-button shape="round" color="primary" expand="block" class="ion-margin-top">Aceptar</ion-button>
</ion-content>